{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
<script>

function sendAsyncRsvp(dateId, mode){
    badge_class = `badge-${mode=="YES" ? "primary" : (mode=="IF_NEED" ? "warning" : "danger")}`
    username = "{{ user.username }}".length === 0 ? $("input#my-username").val() : "{{ user.username }}"
    $.ajax({data:{"date": dateId, "accion": mode, "csrfmiddlewaretoken": '{{ csrf_token }}', "username": username}, type: "POST", url:"/quedar", success:function(result){
        pills_id = result.appointment_id;
        pill_id = result.rsvp_id;
        if ($("#pill-"+pill_id).length) {
            $("#pill-" + pill_id).removeClass("badge-primary").removeClass("badge-danger").removeClass("badge-warning").addClass(badge_class);
            $("#pill-s-" + pill_id).removeClass("badge-primary").removeClass("badge-danger").removeClass("badge-warning").addClass(badge_class);
        }else{
            $("#pills-"+pills_id).append(
                "<span id=\"pill-"+pill_id+"\" class=\"badge badge-pill "+badge_class+"\">"+username+"</span>"
            )
            $("#pills-small-"+pills_id).append(
                "<span id=\"pill-s-"+pill_id+"\" class=\"badge badge-pill "+badge_class+"\">"+username+"</span>"
            )
        }
        }, error(jqXHR, textStatus, errorThrown){
            errorMsg = jqXHR.responseJSON.error
            if (!errorMsg)
                errorMsg = jqXHR.statusText;
            $("#modal-error").text(errorMsg);
            $("#usernameModal").modal();
        }});
}</script>

	<div id="banner-area">
		<img src="static/images/banner/banner2.jpg" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Sesiones para quedar</h2>
		        	<ul class="breadcrumb">
                        <li><a href="/">Inicio</a></li>
                        <li> Sesiones</li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">
			<div class="row center">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                    <!-- Modal -->
                    <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% if not user.is_authenticated %}Nombre de usuario para reserva{% else %}Información{% endif %} </h5>
                            {% comment %}<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>{% endcomment %}
                          </div>
                          <div class="modal-body">
                            {% if not user.is_authenticated %}Cambia tu nombre de usuario para reservar con el cuadro de texto que aparece abajo y vuelve a votar<br/>{% endif %}
                                        {% if not user.is_authenticated %}
                                            <div class="row">
                                                <div class="username-input col-md-12">
                                                    <input class="form-control center-align" name="my-username" id="my-username" onfocus='$("#modal-error").text("")' placeholder="Nombre de usuario para la reserva" type="text" required="">
                                                </div>
                                            </div>
                                        {% else %}
                                            <input type="hidden" class="shared-field" name="my-username" value="{{ user.username }}">
                                        {% endif %}
                              <div class="row"><div class="col-md-12"><strong id="modal-error" class="text-danger"></strong></div></div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% for e in appointments %}
                    {% if not e.hidden %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-12 col-sm-12 align-self-center">
                                                    <div class="panel panel-success mb-4 shadow-sm">
                                                        <div class="team-content panel-body">
					<div class="post">
						<!-- post image start -->
                        <div class="post-header clearfix">
							<h2>
								{{ e.session_name }}
							</h2>
						<div class="post-image-wrapper">
							<img src="{% if e.pic %}{{ e.pic.url }}{% else %}/static/images/rol_andalucia_logo.png{% endif %}" class="img-responsive" style="max-height: 200px" alt="">
							<span class="blog-date"><a href="#"> {{ e.campaign }}</a></span>
						</div><!-- post image end -->
							<div class="post-meta">
                                <span class="post-meta-author">Una sesión <span class="text-info" style="padding-right: 0px"><b>{% if e.tipo == "P" %}presencial{% else %}online{% endif %}</b></span> en <span class="text-info"><b>{% if e.location != None %}{{ e.location }}{% endif %}</b></span>
								{% if e.getConfirmedAppointment %}<span class="badge badge-pill badge-primary">confirmada</span>{% endif %}</span>
								{% comment %}<div class="pull-right">
									<span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> 11</a></span>
									<span class="post-meta-hits"><a href="#"><i class="fa fa-heart-o"></i> 62</a></span>
								</div>{% endcomment %}
							</div><!-- post meta end -->
						</div><!-- post heading end -->
                    {% comment %}<button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#usernameModal">
                      Launch demo modal
                    </button>{% endcomment %}

                        <div class="container">
                            <h3>Fechas:</h3>
                            {% if e.dates %}
                            <div class="row">
                            <div class="col-md-11 col-sm-11 isotope-item">
                                                    <div class="panel panel-success mb-4 shadow-sm">
                                                    <div class="team-content panel-body">
                                                    <table style="width: 100%">
                                {% for p in e.dates.all %}
                                    <tr {% if forloop.counter|divisibleby:2 %}bgcolor="#e5e5e5" {% endif %}><td>
                                        <h3>{{ p.date }}</h3></td><td style="min-width: 200px">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <ul class="unstyled">
                                                        <li>
                                                            <a title="Attend" style="cursor: pointer" onclick="sendAsyncRsvp({{ p.id }}, 'YES');">
                                                                <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-thumbs-up"></i></span>
                                                            </a>
                                                            <a title="Maybe" style="cursor: pointer" onclick="sendAsyncRsvp({{ p.id }}, 'IF_NEED');">
                                                                <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-question"></i></span>
                                                            </a>
                                                            <a title="Do not attend" style="cursor: pointer" onclick="sendAsyncRsvp({{ p.id }}, 'NO');">
                                                                <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-thumbs-down"></i></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div></td><td class="visible-sm visible-md visible-lg visible-xl" style="text-align: center" {% if not p.reservations.count > 0 %}hidden{% endif %}>

                                                            <h4>Asistentes:</h4>
                                                            <div id="pills-{{ p.id }}">
                                                                {% for t in p.reservations.all %}<span id="pill-{{ t.id }}" class="badge badge-pill {% if t.type == "YES" %}badge-primary{% elif t.type == "IF_NEED" %}badge-warning{% else %}badge-danger{% endif %}">{{ t.user }}</span>{% endfor %}
                                                            </div>
                                                            <div class="spacer">&nbsp;</div>
                                                        </td>
                                    </tr><tr class="visible-xs" {% if forloop.counter|divisibleby:2 %}bgcolor="#e5e5e5" {% endif %}><td style="text-align: center" colspan="3" {% if not p.reservations.count > 0 %}hidden{% endif %}>
                                                            <h4>Asistentes:</h4>
                                                            <div id="pills-small-{{ p.id }}">
                                                                {% for t in p.reservations.all %}<span id="pill-s-{{ t.id }}" class="badge badge-pill {% if t.type == "YES" %}badge-primary{% elif t.type == "IF_NEED" %}badge-warning{% else %}badge-danger{% endif %}">{{ t.user }}</span>{% endfor %}
                                                            </div>
                                                            <div class="spacer">&nbsp;</div>
                                                        </tr>
                                {% endfor %}</table>
                                                    </div>
                                            </div>
                                    </div><!--/ Team 1 end -->
                            </div><!--/ Content row end -->
                            {% endif %}
                        </div><!-- Container end -->
					</div>
                {% endif %}
                    </div></div></div></div></div>
                {% endfor %}

				</div><!--/ Content col end -->

						{% comment %}<!-- tags start -->
						<div class="widget widget-tags">
							<h3 class="widget-title">Tags</h3>
							<ul class="unstyled clearfix">
				              	<li><a href="#">iMac</a></li>
				              	<li><a href="#">Black and Green</a></li>
				              	<li><a href="#">Crative</a></li>
				              	<li><a href="#">Momentum</a></li>
				              	<li><a href="#">Business</a></li>
				              	<li><a href="#">Cellular</a></li>
				              	<li><a href="#">Niche</a></li>
				            </ul>
						</div><!-- tags end -->{% endcomment %}


					</div><!--/ Sidebar end -->
				</div><!--/ Sidebar col end -->
			</div><!--/ row end -->
		</div><!--/ container end -->
	</section><!--/ Main container end -->

	{% endblock %}

{% block javascript %}
<script>
const INITIAL_CONTENT = '<div style="margin:5px 0;">Loading...</div>'

function updateFields() {
    // Get the value of the input field
    var field4Value = document.getElementById("my-username").value;

    // Select all hidden elements with the shared class
    var sharedFields = document.getElementsByClassName("shared-field");

    // Update the values of all fields with the shared class
    for (var i = 0; i < sharedFields.length; i++) {
        sharedFields[i].value = field4Value;
    }
}

function applyStyles(popper, tooltip) {
  // Because the tooltip has `position: absolute`,
  // it no longer affects the parent popper's layout.
  // We need to explicitly give it a width.
  popper.style.width = '200px'

  // Setup transition styles on the tooltip itself
  tooltip.style.transitionDuration = '0.2s'
  tooltip.style.transitionProperty = 'visibility, opacity, height'
}

function animateHeight(instance, instanceContent) {
  const { popper } = instance
  const { tooltip, content } = instance.popperChildren

  function onTransitionEnd(event) {
    if (event.target === event.currentTarget) {
      content.style.opacity = '1'
      instance.setContent(instanceContent)
    }
  }

  // Wait until the height transition has finished before
  // fading the content in. Since we have `overflow: hidden`
  // on the tooltip this isn't actually needed, but if you
  // have an arrow element it will be.
  if (!instance._transitionEndListener) {
    instance._transitionEndListener = onTransitionEnd
  }

  tooltip.addEventListener('transitionend', onTransitionEnd)

  // Store the base height of the tooltip when it has the
  // initial Loading... content.
  if (!instance._baseHeight) {
    instance._baseHeight = tooltip.clientHeight
  }

  // Here is where we find out the height of the tooltip
  // when it has the content. We could technically hardcode
  // 200px as the value, but it's useful to know how to do
  // this with dynamic content.
  content.style.opacity = '0'

  // Temporarily set the image as the tooltip's content
  // so we can find out the final height of the tooltip.
  instance.setContent(instanceContent)
  const height = tooltip.clientHeight

  // Apply the height to the parent popper element.
  popper.style.height = height + 'px'

  // Reset the tooltip's height to the base height.
  tooltip.style.height = instance._baseHeight + 'px'

  // Cause reflow so we can start the height transition.
  void tooltip.offsetHeight

  // Start the transition.
  tooltip.style.height = height + 'px'

  // Remove the Loading... content and wait until the
  // transition finishes.
  instance.setContent('')
}

tippy('.wikilink', {
  arrow: true,
  followCursor: 'horizontal',
  arrowType: 'round',
  content: INITIAL_CONTENT,
  animation: 'fade',
  animateFill: false,
  theme: 'ajax',
  async onShow(instance) {
    if (instance.state.isFetching === true || instance.state.canFetch === false) {
      return
    }

    instance.state.isFetching = true
    instance.state.canFetch = false

    applyStyles(instance.popper, instance.popperChildren.tooltip)

    try {
      const response = await fetch('https://unsplash.it/200/?random')
      const blob = await response.blob()
      const url = URL.createObjectURL(blob)

      // If the tooltip hid before finishing the request, stop further action
      if (!instance.state.isVisible) {
        return
      }

      const img = new Image()
      img.width = 200
      img.height = 200
      img.src = url

      animateHeight(instance, img)
    } catch (error) {
      instance.setContent('An error occurred')
    } finally {
      instance.state.isFetching = false
    }
  },
  onHidden(instance) {
    const { tooltip } = instance.popperChildren
    instance.state.canFetch = true
    instance.setContent(INITIAL_CONTENT)
    tooltip.style.height = null
    tooltip.removeEventListener('transitionend', instance._transitionEndListener)
    instance._transitionEndListener = null
  }
})
    </script>
{% endblock %}