{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}


	<div id="banner-area">
		<img src="static/images/banner/banner2.jpg" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>{{ craftable.name }}</h2>
		        	<ul class="breadcrumb">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/admin/RolAndalucia/craftable"> Invenciones</a></li>
			            <li> {{ craftable.name }}</li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="post-content">
						<div class="post-image-wrapper col-md-6">
							<img src="{{ craftable.photo }}" class="img-responsive"  alt="" />
						</div><!-- post image end -->
                    <h5>Descripción</h5>
						<p>{{ craftable.description|markdown }}</p>

                    <h5>Efectos</h5>
						<p>{{ craftable.effect|markdown }}</p>
						{% comment %}<div class="gap-20"></div>

						<div class="row">
							<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
								<span class="feature-icon pull-left" ><i class="fa fa-magic"></i></span>
								<div class="feature-content">
									<h3>Tiempo de casteo</h3>
									<p>{{ spell.castTime }}</p>
								</div>
							</div><!--/ End first featurebox -->

							<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
								<span class="feature-icon pull-left" ><i class="fa fa-bullseye"></i></span>
								<div class="feature-content">
									<h3>Rango</h3>
									<p>{{ spell.range }}</p>
								</div>
							</div><!--/ End 2nd featurebox -->
						</div>

						<div class="gap-20"></div>

						<div class="row">

							<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
								<span class="feature-icon pull-left" ><i class="fa fa-clock-o"></i></span>
								<div class="feature-content">
									<h3>Duración</h3>
									<p>{{ spell.duration }}</p>
								</div>
							</div><!--/ End 1st featurebox -->

							<div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
								<span class="feature-icon pull-left" ><i class="fa fa-shield"></i></span>
								<div class="feature-content">
									<h3>Salvaciones</h3>
									<p>{{ spell.attack_save }}</p>
								</div>
							</div><!--/ End 2nd featurebox -->
						</div>{% endcomment %}


					</div><!--/ post content end -->

				</div><!--/ Content col end -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<!-- category start -->
						<div class="widget widget-categories">
							<h3 class="widget-title">Atributos</h3>
							<ul class="category-list clearfix">
				              <li><a href="#">Coste de programación</a><span class="posts-count"> {{ craftable.programmingCost }}</span></li>
				              <li><a href="#">Coste de ingeniería</a><span class="posts-count"> {{ craftable.engineeringCost }}</span></li>
				              <li><a href="#">Coste en materiales</a><span class="posts-count"> {{ craftable.materialCost }}</span></li>
				              <li><a href="#">Requisitos</a><span class="posts-count"> {{ craftable.requirements|markdown }}</span></li>
				            </ul>
						</div><!-- category end -->

						<!-- tags start -->
						{% comment %}<div class="widget widget-tags">
							<h3 class="widget-title">Clases</h3>
							<ul class="unstyled clearfix">
				              	{% for class in spell.classes.all %}<li><a href="/viewClass?classId={{ class.id }}">{{ class.name }}</a></li>{% endfor %}
				            </ul>
						</div><!-- tags end -->{% endcomment %}


					</div><!--/ Sidebar end -->
				</div><!--/ Sidebar col end -->
			</div><!--/ row end -->
		</div><!--/ container end -->
	</section><!--/ Main container end -->

	{% endblock %}

{% block javascript %}
<script>
const INITIAL_CONTENT = '<div style="margin:5px 0;">Loading...</div>'

function applyStyles(popper, tooltip) {
  // Because the tooltip has `position: absolute`,
  // it no longer affects the parent popper's layout.
  // We need to explicitly give it a width.
  popper.style.width = '200px'

  // Setup transition styles on the tooltip itself
  tooltip.style.transitionDuration = '0.2s'
  tooltip.style.transitionProperty = 'visibility, opacity, height'
}

function animateHeight(instance, instanceContent) {
  const { popper } = instance
  const { tooltip, content } = instance.popperChildren

  function onTransitionEnd(event) {
    if (event.target === event.currentTarget) {
      content.style.opacity = '1'
      instance.setContent(instanceContent)
    }
  }

  // Wait until the height transition has finished before
  // fading the content in. Since we have `overflow: hidden`
  // on the tooltip this isn't actually needed, but if you
  // have an arrow element it will be.
  if (!instance._transitionEndListener) {
    instance._transitionEndListener = onTransitionEnd
  }

  tooltip.addEventListener('transitionend', onTransitionEnd)

  // Store the base height of the tooltip when it has the
  // initial Loading... content.
  if (!instance._baseHeight) {
    instance._baseHeight = tooltip.clientHeight
  }

  // Here is where we find out the height of the tooltip
  // when it has the content. We could technically hardcode
  // 200px as the value, but it's useful to know how to do
  // this with dynamic content.
  content.style.opacity = '0'

  // Temporarily set the image as the tooltip's content
  // so we can find out the final height of the tooltip.
  instance.setContent(instanceContent)
  const height = tooltip.clientHeight

  // Apply the height to the parent popper element.
  popper.style.height = height + 'px'

  // Reset the tooltip's height to the base height.
  tooltip.style.height = instance._baseHeight + 'px'

  // Cause reflow so we can start the height transition.
  void tooltip.offsetHeight

  // Start the transition.
  tooltip.style.height = height + 'px'

  // Remove the Loading... content and wait until the
  // transition finishes.
  instance.setContent('')
}

tippy('.wikilink', {
  arrow: true,
  followCursor: 'horizontal',
  arrowType: 'round',
  content: INITIAL_CONTENT,
  animation: 'fade',
  animateFill: false,
  theme: 'ajax',
  async onShow(instance) {
    if (instance.state.isFetching === true || instance.state.canFetch === false) {
      return
    }

    instance.state.isFetching = true
    instance.state.canFetch = false

    applyStyles(instance.popper, instance.popperChildren.tooltip)

    try {
      const response = await fetch('https://unsplash.it/200/?random')
      const blob = await response.blob()
      const url = URL.createObjectURL(blob)

      // If the tooltip hid before finishing the request, stop further action
      if (!instance.state.isVisible) {
        return
      }

      const img = new Image()
      img.width = 200
      img.height = 200
      img.src = url

      animateHeight(instance, img)
    } catch (error) {
      instance.setContent('An error occurred')
    } finally {
      instance.state.isFetching = false
    }
  },
  onHidden(instance) {
    const { tooltip } = instance.popperChildren
    instance.state.canFetch = true
    instance.setContent(INITIAL_CONTENT)
    tooltip.style.height = null
    tooltip.removeEventListener('transitionend', instance._transitionEndListener)
    instance._transitionEndListener = null
  }
})
    </script>
{% endblock %}