{% extends 'base.html' %}
{% block css %}
    <link rel='stylesheet' href='/static/css/dropdown-abilities.css'>
    <link rel="stylesheet" href="./static/css/style.css">{% comment %}
    <style>
    .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
      flex-wrap: wrap;
    }
    .row > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
    </style>{% endcomment %}
{% endblock %}
{% load auth_extras %}
{% block content %}

	<div id="banner-area">
		<img src="static/images/banner/banner2.jpg" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Over 9000 velitas</h2>
		        	<ul class="breadcrumb">
                        <li><a href="/">Inicio</a></li>
                        <li>Velitas</li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        {% with ''|center:9001 as range %}
                            {% for value in range %}
                                <img src="https://i.pinimg.com/originals/d4/8a/ac/d48aacdb727b0aaf15fbab89d4723a40.gif" width="40"/>
                            {% endfor %}
                        {% endwith %}
                    </div>
				</div><!--/ Content col end -->
            </div> <!--/ Row end -->
		</div><!--/ container end -->
	</section><!--/ Main container end -->

	{% endblock %}

{% block javascript %}<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script>
var id=-1
var abilities={
    {% for item in abilityDict %}{% for ability in item %}
            ablId_{{ ability.id }}:{nombre:"{{ ability.nombre }}", descripcion:"{{ ability.descripcion|markdown|escapejs }}", nivel:{{ ability.nivel }}, desbloqueo:"{{ ability.desbloqueo|escapejs }}", isOptional: {{ ability.isOptional|lower }}, expCost:{{ ability.expCost }} },
        {% endfor %}{% endfor %}
}
$('.tree-toggle').click(function () {	$(this).parent().children('ul.tree').toggle(200);
});
$(function(){
$('.tree-toggle').parent().children('ul.tree').toggle(200);
})
$('.ability-link').on('click',function (e) {
    e.preventDefault();
})
$('.ability-link').on('click',function (e) {
    e.preventDefault();
    if(id != e.target.id) {
        $("#collapsingPanel").collapse('show')
        id = e.target.id
    }else {
        $("#collapsingPanel").collapse('hide')
        id=-1
    }
    $("#itemName").html(abilities[e.target.id].nombre);
    $("#itemDescription").html(abilities[e.target.id].descripcion);
    $("#itemNivel").html(abilities[e.target.id].nivel);
    if(abilities[e.target.id].isOptional){
        $("#itemDesbloqueo").html(abilities[e.target.id].desbloqueo);
        $("#itemUnlockCostGlobal").addClass("in")
        $("#itemUnlockCost").html(abilities[e.target.id].expCost+"PE");
    }else{
        $("#itemDesbloqueo").html("Esta habilidad se desbloquea automáticamente al alcanzar el nivel requerido.");
        $("#itemUnlockCostGlobal").removeClass("in")
    }
})
</script>
{% endblock %}