{% extends 'base.html' %}
  {% block title %}Error 500{% endblock %}
	
{% block content%}

	<div id="banner-area">
		<img src="static/images/banner/banner2.jpg" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Error 500</h2>
		        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li>Pages</li>
			            <li><a href="index.html"> Error 500</a></li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">
			<div class="error-page text-center">
				<div class="error-code">
					<strong>500</strong>
				</div>
				<div class="error-message">
                    <h3>DM: Hazme una tirada de INT para orientarte.</h3> <h3>Tú: <1 natural></h3> <h3>DM: Te encuentras en una página para la que no tienes permisos</h3>
				</div>
				<div class="error-body">
					Para intentar reorientarte, coge tu D20 y pulsa el botón de abajo <br/>
					<a href="index.html" class="btn btn-primary solid blank"><i class="fa fa-arrow-circle-left">&nbsp;</i> Volver a Inicio</a>
				</div>
			</div>
		</div>
	</section><!--/ Main container end -->
{% endblock content %}

{% block javascript %}
	<!-- Javascript Files
	================================================== -->

	<!-- initialize jQuery Library -->
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<!-- Style Switcher -->
	<script type="text/javascript" src="static/js/style-switcher.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="static/js/owl.carousel.js"></script>
	<!-- PrettyPhoto -->
	<script type="text/javascript" src="static/js/jquery.prettyPhoto.js"></script>
	<!-- Bxslider -->
	<script type="text/javascript" src="static/js/jquery.flexslider.js"></script>
	<!-- CD Hero slider -->
	<script type="text/javascript" src="static/js/cd-hero.js"></script>
	<!-- Isotope -->
	<script type="text/javascript" src="static/js/isotope.js"></script>
	<script type="text/javascript" src="static/js/ini.isotope.js"></script>
	<!-- Wow Animation -->
	<script type="text/javascript" src="static/js/wow.min.js"></script>
	<!-- SmoothScroll -->
	<script type="text/javascript" src="static/js/smoothscroll.js"></script>
	<!-- Eeasing -->
	<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
	<!-- Counter -->
	<script type="text/javascript" src="static/js/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="static/js/waypoints.min.js"></script>
	<!-- Template custom -->
	<script type="text/javascript" src="static/js/custom.js"></script>
	{% endblock javascript %}