<!DOCTYPE html>
<html lang="es">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>{% block title %}Rol de Andalucía - plataforma web{% endblock %}</title>
    <meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" href="static/images/RdA_icono.png" type="image/x-icon" />

	<!-- CSS
	================================================== -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Template styles-->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Responsive styles-->
	<link rel="stylesheet" href="static/css/responsive.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<!-- Animation -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Prettyphoto -->
	<link rel="stylesheet" href="static/css/prettyPhoto.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/owl.theme.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="static/css/flexslider.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="static/css/cd-hero.css">
	<!-- Style Swicther -->
	<link id="style-switch" href="static/css/presets/preset2.css" media="screen" rel="stylesheet" type="text/css">

    {% block css %}{% endblock %}

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- Style switcher start -->
	<!-- Style switcher end -->

	<div class="body-inner">

	<!-- Header start -->
	<header id="header" class="navbar-fixed-top header" role="banner">
		<div class="container">
			<div class="row">
				<!-- Logo start -->
				<div class="navbar-header">
				   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
				    <div class="navbar-brand navbar-bg">
					    <a href="/">
					    	<img class="img-responsive" src="static/images/rol_andalucia_logo.png" alt="logo">
					    </a>
				    </div>
				</div><!--/ Logo end -->
				<nav class="collapse navbar-collapse clearfix" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li>
                       		<a href="/">Home</a>
	                    </li>
						<li class="dropdown">
                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Listados <i class="fa fa-angle-down"></i></a>
                       		<div class="dropdown-menu">
								<ul>
		                            <li><a href="admin/RolAndalucia/spell">Hechizos</a></li>
		                            <li><a href="admin/RolAndalucia/craftable">Invenciones</a></li>
		                            <li><a href="">Encuentros</a></li>
		                            <li><a href="admin/RolAndalucia/item">Objetos</a></li>
		                        </ul>
	                    	</div>
	                    </li>
            			<li><a href="admin">Panel de control</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                    </ul>
				</nav><!--/ Navigation end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</header><!--/ Header end -->

    {% block content %} {% endblock %}

    <!-- Footer start -->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 footer-widget">
					<h3 class="widget-title">Entradas seleccionadas</h3>
					<div class="latest-post-items media">
							<div class="latest-post-content media-body">
								<h4><a href="/viewItem?itemId={{ randItem.id }}">{{ randItem.name }}</a></h4>
								<p class="post-meta">
									<span class="description">{{ randItem.type }} de rareza {{ randItem.rarity }}, solo en el Rol de Andalucía</span>
									<span class="post-meta-cat"><a href="admin/RolAndalucia/item/{{ randItem.id }}"> Aprende más sobre él</a></span>
								</p>
							</div>
						</div><!-- 1st Latest Post end -->

						<div class="latest-post-items media">
							<div class="latest-post-content media-body">
								<h4><a href="admin/RolAndalucia/spell/{{ randSpell.id }}">{{ randSpell.name }}</a></h4>
								<p class="post-meta">
									<span class="description">{% if randSpell.level == 0 %}Truco{% else %}Hechizo{% endif %} de {{ randSpell.school }}{% if randSpell.level != 0 %} nivel {{ randSpell.level }}{% endif %}, solo en el Rol de Andalucía</span>
									<span class="post-meta-cat"><a href="admin/RolAndalucia/spell/{{ randSpell.id }}"> Aprende más sobre él</a></span>
								</p>
							</div>
						</div><!-- 2nd Latest Post end -->

						<div class="latest-post-items media">
							<div class="latest-post-content media-body">
								<h4><a href="admin/RolAndalucia/craftable/{{ randCraftable.id }}">{{ randCraftable.name }}</a></h4>
								<p class="post-meta">
									<span class="description">Invención de {% if randCraftable.programmingCost > randCraftable.engineeringCost %}programación{% else %}ingeniería{% endif %} de coste {{ randCraftable.engineeringCost }}PI, {{ randCraftable.programmingCost }}PP, solo en el Rol de Andalucía</span>
									<span class="post-meta-cat"><a href="admin/RolAndalucia/craftable/{{ randCraftable.id }}"> Aprende más sobre ella</a></span>
								</p>
							</div>
						</div><!-- 3rd Latest Post end -->

				</div><!--/ End Recent Posts-->


				{% comment %}<div class="col-md-4 col-sm-12 footer-widget">
					<h3 class="widget-title">Flickr Photos</h3>

					<div class="img-gallery">
						<div class="img-container">
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/1.jpg">
								<img src="static/images/gallery/1.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/2.jpg">
								<img src="static/images/gallery/2.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/3.jpg">
								<img src="static/images/gallery/3.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/4.jpg">
								<img src="static/images/gallery/4.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/5.jpg">
								<img src="static/images/gallery/5.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/6.jpg">
								<img src="static/images/gallery/6.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/6.jpg">
								<img src="static/images/gallery/7.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/6.jpg">
								<img src="static/images/gallery/8.jpg" alt="">
							</a>
							<a class="thumb-holder" data-rel="prettyPhoto" href="static/images/gallery/6.jpg">
								<img src="static/images/gallery/9.jpg" alt="">
							</a>
						</div>
					</div>
				</div><!--/ end flickr -->{% endcomment %}

				<div class="col-md-6 col-sm-12 footer-widget footer-about-us">
					<h3 class="widget-title">Sobre el Rol de Andalucía</h3>
					<p>Este juego de rol es una versión moderna de D&D 5a Edición aplicada concretamente al contexto de Andalucía. El contenido, por tanto, pertenece principalmente a fuentes propias y a Wizards of the Coast, con menciones especiales al cast de Critical Role por sus personajes que han inspirado otra parte del contenido.</p>
					<h4>Dirección</h4>
					<p>Andalucía, sur de la Península Ibérica, Sol 3, Vía Láctea. La tercera a mano derecha desde Andrómeda.</p>
					<div class="row">
						<div class="col-md-6">
							<h4>Email:</h4>
							<p>mario.biz.gon *arroba* gmail . com</p>
						</div>
						<div class="col-md-6">
							<h4>Página web</h4>
							<p>la estás viendo, peazo tú</p>
						</div>
					</div>
                    {% comment %}<form action="#" role="form">
                        <div class="input-group subscribe">
                            <input type="email" class="form-control" placeholder="Email Address" required="">
                            <span class="input-group-addon">
                              <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
                            </span>
                        </div>
                    </form>{% endcomment %}
				</div><!--/ end about us -->

			</div><!-- Row end -->
		</div><!-- Container end -->
	</footer><!-- Footer end -->


	<!-- Copyright start -->
	<section id="copyright" class="copyright angle">
		<div class="container">
			{% comment %}<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-social unstyled">
						<li>
							<a title="Twitter" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
							</a>
							<a title="Facebook" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
							</a>
							<a title="Google+" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
							</a>
							<a title="linkedin" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
							</a>
							<a title="Pinterest" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-pinterest"></i></span>
							</a>
							<a title="Skype" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-skype"></i></span>
							</a>
							<a title="Dribble" href="#">
								<span class="icon-pentagon wow bounceIn"><i class="fa fa-dribbble"></i></span>
							</a>
						</li>
					</ul>
				</div>
			</div><!--/ Row end -->
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="copyright-info">
         			 &copy; Copyright 2019 Themefisher. <span>Designed by <a href="https://themefisher.com">Themefisher.com</a></span>
        			</div>
				</div>
			</div><!--/ Row end -->{% endcomment %}
		   <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
				<button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
			</div>
		</div><!--/ Container end -->
	</section><!--/ Copyright end -->

    <!-- Javascript Files
	================================================== -->
    <!-- initialize jQuery Library -->
	<script type="text/javascript" src="static/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    {% block javascript %} {% endblock %}
    <!-- Template custom -->
	<script type="text/javascript" src="static/js/custom.js"></script>

    </div><!-- Body inner end -->
</body>

</html>