{% extends 'base.html' %}
{% block content %}

	<!-- Slider start -->
	<section id="home" class="no-padding">	
    	<div id="main-slide" class="cd-hero">
			<ul class="cd-hero-slider">
				<li class="selected">
					<div class="overlay2">
						<img class="" src="static/images/andalucia/torre_oro.jpg" alt="slider">
					</div>
                    <div class="cd-half-width cd-img-container img-right">
						<img src="static/images/slider/ironhide.png" alt="">
					</div>
					<div class="cd-half-width">
						<h2>Inventa grandes cosas</h2>
						<p>Haz tus sueños ingenieriles posibles en el Rol de Andalucía</p>
						<a href="admin/RolAndalucia/craftable/" class="btn btn-primary solid cd-btn">Ver creables</a>
					</div> <!-- .cd-full-width -->
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="static/images/andalucia/barrosa.jpg" alt="slider">
					</div>
					<div class="cd-half-width">
						<h2>Encuentra objetos curiosos</h2>
						<p>Durante la partida encontrarás numerosos artefactos, ¿por qué no echarles un vistazo?</p>
						<a href="admin/RolAndalucia/item/" class="cd-btn btn btn-primary solid">Ver el listado</a>
					</div> <!-- .cd-half-width -->

					<div class="cd-half-width cd-img-container">
						<img src="static/images/slider/bag_holding.png" alt="">
					</div> <!-- .cd-half-width.cd-img-container -->
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="static/images/andalucia/cordoba.jpg" alt="slider">
					</div>
					<div class="cd-half-width cd-img-container img-right">
						<img src="static/images/tech-mainimage.png" alt="">
					</div> <!-- .cd-half-width.cd-img-container -->
					<div class="cd-half-width">
						<h2>Hechizos para la vida moderna</h2>
						<p>La magia en el medievo es poderosa, pero ¿hoy en día? Buá, es que ni te lo cuento, míralo tú mismo</p>
						<a href="admin/RolAndalucia/spell/" class="cd-btn btn btn-primary solid">Ver listado</a>
{#						<a href="#0" class="cd-btn btn secondary btn-primary solid">Saber más</a>#}
					</div> <!-- .cd-half-width -->
				</li>
				{% comment %}<li class="cd-bg-video">
					<div class="cd-full-width">
						<h2>WE ARE HERE TO MAKE IT HAPPEN</h2>
						<h3>We Making Difference To Great Things Possible</h3>

						<a href="#0" class="cd-btn btn btn-primary solid">Learn more</a>
					</div> <!-- .cd-full-width -->

					<div class="cd-bg-video-wrapper" data-video="static/videos/video">
						<!-- video element will be loaded using jQuery -->
					</div> <!-- .cd-bg-video-wrapper -->
				</li>{% endcomment %}
			</ul> <!--/ cd-hero-slider -->

		<div class="cd-slider-nav">
			<nav>
				<span class="cd-marker item-1"></span>
				<ul>
					<li class="selected"><a href="#0"><i class="fa fa-gears"></i> Invenciones</a></li>
					<li><a href="#0"><i class="fa fa-briefcase"></i> Objetos</a></li>
					<li><a href="#0"><i class="fa fa-magic"></i> Hechizos</a></li>
{#					<li class="video"><a href="#0"><i class="fa fa-video-camera"></i> Video</a></li>#}
				</ul>
			</nav> 
		</div> <!-- .cd-slider-nav -->

		</div><!--/ Main slider end -->    	
    </section> <!--/ Slider end -->


    <!-- Service box start -->
	<section id="service" class="service angle">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon pull-left"><i class="fa fa-cogs"></i></span>
					<h2 class="title">¿En qué consiste el Rol de Andalucía? <span class="title-desc">Una experiencia basada en los Dragones y Mazmorras de Gary Gygax, traída a nuestra tierra y tiempo</span></h2>
				</div>
			</div><!-- Title row end -->

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
						<div class="service-content text-center">
							<span class="service-icon icon-pentagon"><i class="fa fa-eye"></i></span>
							<h3>Nueva visión</h3>
							<p>Observa tu entorno como nunca lo habías visto, con magia, organizaciones secretas y secretos maravillosos escondidos tras cada rincón</p>
						</div>
					</div><!--/ End first service -->

					<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s" >
						<div class="service-content text-center">
							<span class="service-icon icon-pentagon"><i class="fa fa-book"></i></span>
							<h3>Profundo lore</h3>
							<p>Además de la Historia que todos conocemos, la Andalucía de este juego, y el mundo entero, incorporan cosas tomadas de nuestra cultura popular, elementos de Dragones y Mazmorras y muchos otros de creación propia</p>
						</div>
						
					</div><!--/ End Second service -->

					<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
						<div class="service-content text-center">
							<span class="service-icon icon-pentagon"><i class="fa fa-map-marker"></i></span>
							<h3>Explora Andalucía sin moverte de la mesa</h3>
							<p>Recorre los picos de Sierra Nevada, las discotecas de Málaga, las calas de Almería, los cortijos de Jaén, las catacumbas mágicas bajo las ruinas de Baelo Claudia, la secta secreta de la basílica de la Macarena o las líneas de la 2 a la 4 del Metro de Sevilla con amigos sin necesidad de ir físicamente o, en ocasiones, que los sitios existan realmente.</p>
						</div>
					</div><!--/ End Third service -->

					<div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
						<div class="service-content text-center">
							<span class="service-icon icon-pentagon"><i class="fa fa-magic"></i></span>
							<h3>Un viaje mágico</h3>
							<p>Cuenta con la ayuda de magia arcana, sagrada o tecnológica en tu camino. Recorre Andalucía y el mundo ayudando a quien puedas y defendiendo tus valores. El mundo real puede querer que encajes en un lugar determinado, pero esta es tu oportunidad de explorar posibilidades alternativas, de hacerte tú tu propio hueco. Sé quien quieras ser. Eso es el rol.</p>
						</div>
					</div><!--/ End 4th service -->
				</div>
			</div><!-- Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Service box end -->
    <div class="panel-group" id="accordionA">
		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseOne">Job Requirements</a>
				                </h4>
			                </div>
			                <div id="collapseOne" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>B.Sc. from any reputed university</li>
									<li>MBA in Marketing from any reputed university is very much desired</li>
									<li>Two (02) years of experience in Software Company is an advantage.</li>
									<li>Experience as Business Analyst will be an added advantage</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 1 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseTwo"> Job Responsibilities</a>
				            	</h4>
			                </div>
			                <div id="collapseTwo" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Global Business Development &amp; Strategic Account Management</li>
									<li>Marketing Research</li>
									<li>Marketing Collaterals development</li>
									<li>Business Analysis</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 2 end-->


		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseThree"> What’s in it for you?</a>
				            	</h4>
			                </div>
			                <div id="collapseThree" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Very Competitive Salary and Long Term Benefits with Excellent Career Opportunity in a Focused &amp; Stable organization.</li>
									<li>Training on new technology.</li>
									<li>Overseas Tour with Opportunity to work with Global Companies.</li>
									<li>Most importantly a friendly work environment with opportunity to learn from a number of highly skilled mentors.</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 3 end-->

		              	<div class="gap-20"></div>

						<p><a href="#" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>

		         </div><!--/ Accordion end -->

{% comment %}

	<!-- Portfolio start -->
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-suitcase"></i></span>
					<h2 class="title classic">Our Awesome Work</h2>
				</div>
			</div> <!-- Title row end -->

			<!--Isotope filter start -->
			<div class="row text-right">
				<div class="isotope-nav" data-isotope-nav="isotope">
					<ul>
						<li><a href="#" class="active" data-filter="*">All</a></li>
						<li><a href="#" data-filter=".web-design">Web Design</a></li>
						<li><a href="#" data-filter=".development">Development</a></li>
						<li><a href="#" data-filter=".joomla">Joomla</a></li>
						<li><a href="#" data-filter=".wordpress">Wordpress</a></li>
					</ul>
				</div>
			</div><!-- Isotope filter end -->
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div id="isotope" class="isotope">
					<div class="col-sm-3 web-design isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio1.jpg" alt="">
								<figcaption>
									<h3>Startup Business</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg1.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>			
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 development isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio2.jpg" alt="">
								<figcaption>
									<h3>Easy to Lanunch</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg2.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>				
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 joomla isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio3.jpg" alt="">
								<figcaption>
									<h3>Your Business</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg3.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>				
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 wordpress isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio4.jpg" alt="">
								<figcaption>
									<h3>Prego Match</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg4.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>					
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 joomla isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio5.jpg" alt="">
								<figcaption>
									<h3>Fashion Brand</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg5.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>					
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 development isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio6.jpg" alt="">
								<figcaption>
									<h3>The Insidage</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg1.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>					
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 development isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio7.jpg" alt="">
								<figcaption>
									<h3>Light Carpet</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg2.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>					
							</figure>
						</div>
					</div><!-- Isotope item end -->

					<div class="col-sm-3 development isotope-item">
						<div class="grid">
							<figure class="effect-oscar">
								<img src="static/images/portfolio/portfolio8.jpg" alt="">
								<figcaption>
									<h3>Amazing Keyboard</h3>
									<a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
									<a class="view icon-pentagon" data-rel="prettyPhoto" href="static/images/portfolio/portfolio-bg3.jpg"><i class="fa fa-search"></i></a>            
								</figcaption>					
							</figure>
						</div>
					</div><!-- Isotope item end -->
				</div><!-- Isotope content end -->
			</div><!-- Content row end -->
		</div><!-- Container end -->
	</section><!-- Portfolio end -->

{% endcomment %}

	<!-- Counter Strat -->
	<section class="ts_counter no-padding">
		<div class="container-fluid">
			<div class="row facts-wrapper wow fadeInLeft text-center">
				<div class="facts one col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-magic"></i></span>
					<div class="facts-num">
						<span class="counter">{{ spells }}</span>
					</div>
					<h3>Hechizos</h3>
				</div>

				<div class="facts two col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-cogs"></i></span>
					<div class="facts-num">
						<span class="counter">{{ craftables }}</span>
					</div>
					<h3>Invenciones y programas</h3>
				</div>

				<div class="facts three col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-shield"></i></span>
					<div class="facts-num">
						<span class="counter">0</span>
					</div>
					<h3>Monstruos</h3>
				</div>

				<div class="facts four col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-diamond"></i></span>
					<div class="facts-num">
						<span class="counter">{{ items }}</span>
					</div>
					<h3>Objetos (incl. mágicos)</h3>
				</div>

			</div>
		</div><!--/ Container end -->
    </section><!--/ Counter end -->

{% comment %}

	<!-- Feature box start -->
	<section id="feature" class="feature">
		<div class="container">
			<div class="row">
				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-heart-o"></i></span>
					<div class="feature-content">
						<h3>Clean &amp; Modern Design</h3>
						<p>Bras urna felis accumsan at ultrde cesid posuere masa socis nautoque penat</p>
					</div>
				</div><!--/ End first featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-codepen"></i></span>
					<div class="feature-content">
						<h3>Useful Shortcodes</h3>
						<p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua</p>
					</div>
				</div><!--/ End 2nd featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-film"></i></span>
					<div class="feature-content">
						<h3>Parallax Section</h3>
						<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut</p>
					</div>
				</div><!--/ End 3rd featurebox -->
			</div><!-- Content row end -->

			<div class="gap-40"></div>

			<div class="row">
				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-newspaper-o"></i></span>
					<div class="feature-content">
						<h3>Multipurpose Concept</h3>
						<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut</p>
					</div>
				</div><!--/ End 1st featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-desktop"></i></span>
					<div class="feature-content">
						<h3>Responsive Layout</h3>
						<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut</p>
					</div>
				</div><!--/ End 2nd featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-pagelines"></i></span>
					<div class="feature-content">
						<h3>Light wight Performance</h3>
						<p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua</p>
					</div>
				</div><!--/ End 3rd featurebox -->

			</div><!-- Content row end -->

			<div class="gap-40"></div>

			<div class="row">
				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-recycle"></i></span>
					<div class="feature-content">
						<h3>Free Lifetime Updates</h3>
						<p>Bras urna felis accumsan at ultrde cesid posuere masa socis nautoque penat</p>
					</div>
				</div><!--/ End first featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-diamond"></i></span>
					<div class="feature-content">
						<h3>Endless Possibilites</h3>
						<p>High Life narwhal, banh mi PBR single-origin coffee Odd Future actually aliqua</p>
					</div>
				</div><!--/ End first featurebox -->

				<div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
					<span class="feature-icon pull-left" ><i class="fa fa-whatsapp"></i></span>
					<div class="feature-content">
						<h3>24/7 Live Support</h3>
						<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut</p>
					</div>
				</div><!--/ End first featurebox -->
			</div><!-- Content row end -->

		</div><!--/ Container end -->
	</section><!--/ Feature box end -->

{% endcomment %}

	<section id="image-block" class="image-block no-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 ts-padding" style="height: 536px; background:url(static/images/slider/gob_andaluz_rol.png) 50% 50% / cover no-repeat;">
				</div>
				<div class="col-md-6 ts-padding img-block-right">
					<div class="img-block-head text-center">
						<h2>¿Quién controla el cotarro por aquí?</h2>
						<h3>Gobierno Andaluz</h3>
						<p>El Gobierno de Andalucía, en su infinita sabiduría, lanza periódicamente publicaciones para regir la vida de sus ciudadanos, como las Hojas de Personaje, el Libro de Juego o esta misma web. Su misión es doble: gobernar la Comunidad y asegurarse de que el juego esté equilibrado.
						</p>
					</div>

					<div class="gap-30"></div>

					<div class="image-block-content">
						<span class="feature-icon pull-left" ><i class="fa fa-book"></i></span>
						<div class="feature-content">
							<h3>Libro de Juego</h3>
							<p>En este libro se encuentran las reglas para jugar al juego, algunas de las cuales se resumen en esta web</p>
						</div>
					</div><!--/ End 1st block -->

					<div class="image-block-content">
						<span class="feature-icon pull-left" ><i class="fa fa-user"></i></span>
						<div class="feature-content">
							<h3>Hoja de Personaje</h3>
							<p>La hoja de personaje muestra los datos objetivos que resumen a una persona y permiten jugar al juego.</p>
						</div>
					</div><!--/ End 1st block -->

					<div class="image-block-content">
						<span class="feature-icon pull-left" ><i class="fa fa-street-view"></i></span>
						<div class="feature-content">
							<h3>Funciones de Gobierno</h3>
							<p>El Gobierno Andaluz controla la política de la Comunidad, y es elegido cada cuatro años mediante su Parlamento. Si te interesa la política puedes hacer que tu voz se oiga en los estamentos gubernamentales participando en este proceso.</p>
						</div>
					</div><!--/ End 1st block -->

				</div>
			</div>
		</div>
	</section><!--/ Image block end -->

{% comment %}

	<!-- Team start -->
	<section id="team" class="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon pull-left"><i class="fa fa-weixin"></i></span>
					<h2 class="title">Meet with our Team <span class="title-desc">A Quality Experience Team with 4 years experience</span></h2>
				</div>
			</div><!-- Title row end -->

			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="static/images/team/team1.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Vosgi Varduhi</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>	
				</div><!--/ Team 1 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="static/images/team/team2.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Robert Aleska</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 2 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInRight">
						<div class="img-hexagon">
							<img src="static/images/team/team3.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Taline Voski</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 3 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team animate wow slideInRight">
						<div class="img-hexagon">
							<img src="static/images/team/team4.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Alban Spencer</h3>
							<p>Web Designer</p>
							<div class="team-social">
								<a class="fb" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twt" href="#"><i class="fa fa-twitter"></i></a>
								<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="dribble" href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div><!--/ Team 4 end -->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
    </section><!--/ Team end -->

    <!-- Parallax 1 start -->
	<section class="parallax parallax1">
		<div class="parallax-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Are You Ready to Buy This Template!</h2>
					<h3>Just Click Button and Use Your Own</h3>
					<p>
						<a href="#" class="btn btn-primary white">Purchase Now</a>
						<a href="#" class="btn btn-primary solid">Get In Touch</a>
					</p>
				</div>
			</div>
		</div><!-- Container end -->
    </section><!-- Parallax 1 end -->

    <!-- Pricing table start -->
	<section id="pricing" class="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon pull-left"><i class="fa fa-university"></i></span>
					<h2 class="title">Pricing Table <span class="title-desc">We Love to Work with Passion</span></h2>
				</div>
			</div><!-- Title row end -->
	  		<div class="row">
				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
				    <div class="plan text-center">
				        <span class="plan-name">Basic <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>49</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1s">
				    <div class="plan text-center">
				        <span class="plan-name">Standared <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>99</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.4s">
				    <div class="plan text-center featured">
				        <span class="plan-name">Professional <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>149</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->

				<!-- plan start -->
				<div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="1.6s">
				    <div class="plan text-center">
				        <span class="plan-name">Premium <small>Monthly plan</small></span>
				        <p class="plan-price"><sup class="currency">$</sup><strong>399</strong><sub>.99</sub></p>
				        <ul class="list-unstyled">
				            <li>100GB Monthly Bandwidth</li>
				            <li>$100 Google AdWords</li>
				            <li>100 Domain Hosting</li>
				            <li>SSL Shopping Cart</li>
				            <li>24/7 Live Support</li>
				        </ul>
				        <a class="btn btn-primary" href="#.">Sign Up</a>
				    </div>
				</div><!-- plan end -->
			</div><!--/ Content row end -->
		</div><!--/  Container end-->
	</section><!--/ Pricing table end -->

{% endcomment %}

	<!-- Testimonial start-->
	<section class="testimonial parallax parallax2">
		<div class="parallax-overlay"></div>
	  	<div class="container">
		    <div class="row">
			    <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
			        <div class="item">
			          	<div class="testimonial-thumb">
			            	<img src="https://www.meme-arsenal.com/memes/4dec1023296303e17085f18fea46e728.jpg" alt="testimonial">
			          	</div>
			          	<div class="testimonial-content">
				            <p class="testimonial-text">
				              Antes todo esto era campo
				            </p>
			            	<h3 class="name">Señora Random<span>Señora Random</span></h3>
			          	</div>
			        </div>
			        <div class="item">
			          	<div class="testimonial-thumb">
			            	<img src="https://1.bp.blogspot.com/-M8fhqlxJgCM/XRkATVBWqZI/AAAAAAAAKrs/zMfOXdbmiPYZKUxg_-kIOaAVIBS0-aOoQCLcBGAs/s1600/2019_07_01_cab.jpg" alt="testimonial">
			          	</div>
				        <div class="testimonial-content">
				            <p class="testimonial-text">
				              No sueño con una Andalucía perfecta. No puedo vivir en la irrealidad y la fantasía.
				            </p>
				            <h3 class="name">Susana Díaz Pacheco<span>Expresidenta del Gobierno Andaluz, ignorando que Andalucía ya es perfecta</span></h3>
				        </div>
			        </div>
			        <div class="item">
				        <div class="testimonial-thumb">
				            <img src="static/images/thorodinez.png" alt="testimonial">
				        </div>
			          	<div class="testimonial-content">
				            <p class="testimonial-text">
				              Solo estoy vivo porque mi destino me quiere vivo.
				            </p>
			            	<h3 class="name">Antornio Odián<span>Villasguardés en un día bajo</span></h3>
			          	</div>
			        </div>
			    </div><!--/ Testimonial carousel end-->
		    </div><!--/ Row end-->
	  	</div><!--/  Container end-->
	</section><!--/ Testimonial end-->
    <textarea id="demo1"># Intro
Go ahead, play around with the editor! Be sure to check out **bold** and *italic* styling, or even [links](https://google.com). You can type the Markdown syntax, use the toolbar, or use shortcuts like `cmd-b` or `ctrl-b`.

## Lists
Unordered lists can be started using the toolbar or by typing `* `, `- `, or `+ `. Ordered lists can be started by typing `1. `.

#### Unordered
* Lists are a piece of cake
* They even auto continue as you type
* A double enter will end them
* Tabs and shift-tabs work too

#### Ordered
1. Numbered lists...
2. ...work too!

## What about images?
![Yes](https://i.imgur.com/sZlktY7.png)</textarea>

{% comment %}

	<!-- Clients start -->
	<section id="clients" class="clients">
		<div class="container">
			<div class="row wow fadeInLeft">
		      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client1.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client2.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client3.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client4.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client5.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client6.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client7.png" alt="client">
		          </a>
		        </figure>
		        <figure class="item client_logo">
		          <a href="#">
		            <img src="static/images/clients/client8.png" alt="client">
		          </a>
		        </figure>
		      </div><!-- Owl carousel end -->
	    	</div><!-- Main row end -->
		</div><!--/ Container end -->
	</section><!--/ Clients end -->
	
{% endcomment %}


{% endblock %}

{% block javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<!-- Style Switcher -->
	<script type="text/javascript" src="static/js/style-switcher.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="static/js/owl.carousel.js"></script>
	<!-- PrettyPhoto -->
	<script type="text/javascript" src="static/js/jquery.prettyPhoto.js"></script>
	<!-- Bxslider -->
	<script type="text/javascript" src="static/js/jquery.flexslider.js"></script>
	<!-- CD Hero slider -->
	<script type="text/javascript" src="static/js/cd-hero.js"></script>
	<!-- Isotope -->
	<script type="text/javascript" src="static/js/isotope.js"></script>
	<script type="text/javascript" src="static/js/ini.isotope.js"></script>
	<!-- Wow Animation -->
	<script type="text/javascript" src="static/js/wow.min.js"></script>
	<!-- SmoothScroll -->
	<script type="text/javascript" src="static/js/smoothscroll.js"></script>
	<!-- Eeasing -->
	<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
	<!-- Counter -->
	<script type="text/javascript" src="static/js/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="static/js/waypoints.min.js"></script>

    <script>
	new SimpleMDE({
		element: document.getElementById("demo1"),
		spellChecker: false,
	});
	</script>
{% endblock %}